*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    color: brown;
}
nav{
    display: flex;
    justify-content: center;

}

nav a{
    padding: 20px;
    color:  brown;
    text-decoration: none;
}
.form{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 30px;
    color: brown;
    text-align: center;
    
}

input{
    
    border: none;
    outline: none;
    text-align: center;
}

input[type="text"]{
    border-bottom:brown 2px solid;
    padding: 20px;
    width: 100%;
}
input[type="email"]{
    border-bottom:brown 2px solid;
    padding: 20px;
    width: 100%;
}
input[type="password"]{
    border-bottom:brown 2px solid;
    padding: 20px;
    width: 100%;
}
input[type="submit"]{
    border-bottom:brown 2px solid;
    background-color: brown;
    color: white;
    padding: 20px;
    cursor: pointer;
    border-radius: 7px;
    margin: auto;
}