<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask SQLite3 DEMO</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <center><h1>Flask SQLite3 Demo</h1></center>
    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
    </nav>
    {% with message = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
               <center>{{message}}</center>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="form">
        <form action="/login" method="post">
            <h2>Sign In</h2>
            <p>Email</p>
            <input type="email" name="email" id="">
            <p>Password</p>
            <input type="password" name="password" id="">
            <br>
            <br>
            <input type="submit" value="Sign Up">
        </form>
    </div>

    <script src="../static/main.js"></script>
</body>
</html>